html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
html, body, main{
  height: 100%;
  width: 100%;
}

.App,
#map {
  height: 100%;
}

.list-btn,
.list-input,
.info-window-box {
  box-shadow: 0 0 3px rgba(170, 170, 170, 0.75);
  border-radius: 10%;
}

/* FILTER LOCATIONS */
/* ------------------------------ */
.list-form {
  max-width: 250px;
}
.list-box {
  position: fixed;
  top: 45px;
  left: 0;
  z-index: 100;
  padding: 0 10px;
}

.list-btn {
  border: none;
  padding: 5px 8px;
  background: #fff;
  font-weight: 600;
  border-radius: 2px 0 0 2px;
}

.list-btn:hover {
  background: #ebebeb;
}

.list-input {
  border: none;
  padding: 5px 8px;
  border-radius: 0 2px 2px 0;
  width: 225px;

}

.locations-list {
  padding: 0 10px 10px 10px;
  list-style: none;
  background: #fff;
  width: 225px;
}

.location-item {
  padding: 10px 0;
  border-bottom: 4px solid #fff;
}

.location-item:hover {
  border-color: #35b4bf;
  color: #35b4bf;
  cursor: pointer;
}

/* FOOTER */

footer {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    bottom:0;
    background-color: #000;
    position: relative;
    z-index: 100;
    color: rgba(255, 255, 255, 0.65);
    -webkit-box-shadow: 0 1000px 0 1000px #fff;
    box-shadow: 0 1000px 0 1000px #fff;
}
footer .bottom-bar {
    text-align: center;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}

footer .bottom-bar .heart {
    color: #f73f51;
    font-size: 22px;
}

@media screen and (min-width: 600px){
  nav {
    position: relative;
    transform: translate(0, 0);
  }
  body {
    display: flex;
    flex-flow: row nowrap;
  }
  main {
    width: auto;
    flex-grow: 1;
  }
}