body{
    padding: 0;
    margin: 0;
}

#map {
    height: 100%;
}

footer {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    bottom:0;
    background-color: #000;
    position: relative;
    z-index: 100;
    color: rgba(255, 255, 255, 0.65);
    -webkit-box-shadow: 0 1000px 0 1000px #fff;
    box-shadow: 0 1000px 0 1000px #fff;
}
footer .bottom-bar {
    text-align: center;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}

footer .bottom-bar .heart {
    color: #f73f51;
    font-size: 22px;
}